07-bpel/license.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns="http://license.example.org/"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     targetNamespace="http://license.example.org/"
>
     <types>
          <xsd:schema version="1.0" targetNamespace="http://license.example.org/">
          <!-- should be as methods names -->
               <xsd:element name="generateLicense">
                    <xsd:complexType>
                         <xsd:sequence>
                              <xsd:element name="arg0" minOccurs="0">
                                   <xsd:complexType>
                                        <xsd:sequence>
                                             <xsd:element name="serialNumber" type="xsd:long" minOccurs="0"/>
                                             <xsd:element name="fromDate" type="xsd:string" minOccurs="0"/>
                                             <xsd:element name="toDate" type="xsd:string" minOccurs="0"/>
                                        </xsd:sequence>
                                   </xsd:complexType>
                              </xsd:element>
                         </xsd:sequence>
                    </xsd:complexType>
               </xsd:element>
               <xsd:element name="generateLicenseResponse">
                    <xsd:complexType>
                         <xsd:sequence>
                              <xsd:element name="serialNumber" type="xsd:long"/>
                              <xsd:element name="generated" type="xsd:string"/>
                              <xsd:element name="fromDate" type="xsd:string"/>
                              <xsd:element name="toDate" type="xsd:string"/>
                              <xsd:element name="licenseId" type="xsd:string"/>
                         </xsd:sequence>
                    </xsd:complexType>
               </xsd:element>
               <xsd:element name="getLicenseBySerialNumber">
                    <xsd:complexType>
                         <xsd:sequence>
                              <xsd:element name="arg0" type="xsd:long" />
                         </xsd:sequence>
                    </xsd:complexType>
               </xsd:element>
               <xsd:element name="getLicenseBySerialNumberResponse">
                    <xsd:complexType>
                         <xsd:sequence>
                              <xsd:element name="toDate" type="xsd:string"/>
                              <xsd:element name="fromDate" type="xsd:string"/>
                              <xsd:element name="serialNumber" type="xsd:long"/>
                              <xsd:element name="licenseId" type="xsd:string"/>
                              <xsd:element name="generated" type="xsd:string"/>
                         </xsd:sequence>
                    </xsd:complexType>
               </xsd:element>
          </xsd:schema>
     </types>

     <message name="generateLicense">
          <part name="parameters" element="ns:generateLicense"></part>
     </message>
     <message name="generateLicenseResponse">
          <part name="parameters" element="ns:generateLicenseResponse"></part>
     </message>

     <message name="getLicenseBySerialNumber">
          <part name="parameters" element="ns:getLicenseBySerialNumber"></part>
     </message>
     <message name="getLicenseBySerialNumberResponse">
          <part name="parameters" element="ns:getLicenseBySerialNumberResponse"></part>
     </message>
     
     <portType name="LicensePort" >
          <operation name="generateLicense" >
               <input message="ns:generateLicense" />
               <output message="ns:generateLicenseResponse" />
          </operation>
          <operation name="getLicenseBySerialNumber" >
               <input message="ns:getLicenseBySerialNumber" />
               <output message="ns:getLicenseBySerialNumberResponse" />
          </operation>
     </portType>

     <binding name="LicenseServiceSoapBinding" type="ns:LicensePort">
          <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
          <operation name="generateLicense">
               <soap:operation soapAction=""/>
               <input>
                    <soap:body use="literal"/>
               </input>
               <output>
                    <soap:body use="literal"/>
               </output>
          </operation>
          <operation name="getLicenseBySerialNumber">
               <soap:operation soapAction=""/>
               <input>
                    <soap:body use="literal"/>
               </input>
               <output>
                    <soap:body use="literal"/>
               </output>
          </operation>
     </binding>

     <service name="LicenseService">
          <port name="LicensePort" binding="ns:LicenseServiceSoapBinding">
               <soap:address location="http://127.0.0.1:8001/LICENSE"/>
          </port>
     </service>
</definitions>