07-bpel/Main.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions 
    targetNamespace="http://org/example/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://org/example/wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:tnsrobot="http://robots.example.org/"
    xmlns:tnsxsd="http://org/example/xsd">

    <wsdl:import namespace="http://license.example.org/" location="license.wsdl"/>
    <wsdl:import namespace="http://robots.example.org/" location="robots.wsdl"/>

    <wsdl:types>
        <xsd:schema targetNamespace="http://org/example/xsd">
            <!-- <xsd:element name="amount" type="xsd:integer"/> -->
            <!-- <xsd:complexType name="input">
                <xsd:sequence>
                    <xsd:element name="quantity" type="xsd:long"/>
                    <xsd:element name="model" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType> -->
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="InputMessage">
        <wsdl:part name="quantity" type="xsd:long"/>
        <wsdl:part name="model" type="xsd:string"/>
        <!-- <wsdl:part name="parameters" element="tnsxsd:input"/> -->
    </wsdl:message>

    <wsdl:message name="OutputMessage">
        <wsdl:part name="amount" type="xsd:long"/>
    </wsdl:message>
    
    <wsdl:portType name="OrderPortType">
        <wsdl:operation name="order">
            <wsdl:input message="tns:InputMessage" name="TestIn"/>
            <wsdl:output message="tns:OutputMessage" name="TestOut"/>
        </wsdl:operation>    
    </wsdl:portType>
    
     <wsdl:binding name="OrderSoapBinding" type="tns:OrderPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="order">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body namespace="http://org/example/wsdl" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://org/example/wsdl" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="MainService">
        <wsdl:port name="OrderPort" binding="tns:OrderSoapBinding">
            <soap:address location="http://localhost:8080/ode/processes/orderService"/>
        </wsdl:port>
    </wsdl:service>

    <plnk:partnerLinkType name="OrderLinkType">
        <plnk:role name="OrderRole" portType="tns:OrderPortType"/>
    </plnk:partnerLinkType>

    <plnk:partnerLinkType name="OrderLinkProcessType">
        <plnk:role name="OrderProcessRole" portType="tnsrobot:RobotsPort"/>
        <plnk:role name="OrderProcessClientRole" portType="tns:OrderPortType"/>
    </plnk:partnerLinkType>

</wsdl:definitions >